<div class="container-fluid">
	<div class="row justify-content-center align-items-center mt-3">
		<div class="col col-sm-12 col-md-8 col-lg-6 col-xl-5 marginForm mt-3">
			<div id="preloaderCruzando" *ngIf="!user && !errorCode"></div>
			<div class="alert alert-success wd-100 mt-3 alertTextCenter" *ngIf="status == 'success' && successMessage">
				{{ successMessage }}
			</div>	
			<div class="alert alert-danger wd-100 mt-3 alertTextCenter" *ngIf="status=='error' && errorCode">
				{{ errorMessage }}
			</div>
			<div class="formContainer" *ngIf="user">
				<!-- Formulario de Registro -->
				<h3 class="centerTitle">{{ page_title }}</h3>
				<form class="ml-0 pd-0 mt-3" #passwordEditForm="ngForm" (ngSubmit)="onSubmit(passwordEditForm)">
					<div class="form-group">
						<label for="userAlias" class="labelForm">Alias de Usuario*</label>
						<input type="text" name="userAlias" class="form-control inputForm" #userAlias="ngModel" [(ngModel)]="user.user_alias" required readonly="readonly">
					</div>
					<div class="form-group">
						<label for="password" class="labelForm">Password*</label>
						<input type="password" name="password" class="form-control inputForm" #password="ngModel" [(ngModel)]="user.password" required>
						<small class="invalid invalid-feedback d-block" *ngIf="password.invalid && password.touched">
							La contraseña no es válida.
						</small>
					</div>
					<div class="form-group">
						<label for="passwordConfirm" class="labelForm">Password Confirm*</label>
						<input type="password" name="passwordConfirm" class="form-control inputForm" #passwordConfirm="ngModel" [(ngModel)]="passwordConfirmation" required>
						<small class="invalid invalid-feedback d-block" *ngIf="passwordConfirm.invalid && passwordConfirm.tuched">
							La contraseña no es válida.
						</small>
						<small class="invalid invalid-feedback d-block" *ngIf="password.valid && passwordConfirm.valid && user.password!=passwordConfirmation">
							Las contraseñas no coinciden.
						</small>
					</div>

					<div class="buttonSubmit mt-4">
						<input type="submit" value="Actualizar" class="btn btn-success" [disabled]="passwordEditForm.invalid || user.password!=passwordConfirmation">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>