<div class="container-fluid">
	<div class="row justify-content-center align-items-center mt-3">
		<div class="col col-sm-12 col-md-8 col-lg-6 col-xl-5 marginForm mt-3">
			<div class="linkContent">
				<div class="backLink">
					<a [routerLink]="['/listar/usuarios']">Regresar</a>
				</div>
			</div>
			<div class="alert alert-success wd-100 mt-3" *ngIf="status == 'success' && successMessage">
				{{ successMessage }} Ver <a [routerLink]="['/listar/usuarios']">todos los usuarios</a>
			</div>
			<div class="alert alert-danger wd-100 mt-3 alertTextCenter" *ngIf="errorCode && status=='error'">
				{{ errorMessage }}
			</div>
			<div class="formContainer">
				<h3 class="centerTitle">{{ page_title }}</h3>
				<!-- Formulario de Registro -->
				<form class="ml-0 pd-0 mt-3" #userRegisterForm="ngForm" (ngSubmit)="onSubmit(userRegisterForm)">
					<div class="form-group">
						<label for="userAlias" class="labelForm">Alias de Usuario*</label>
						<input type="text" name="userAlias" class="form-control inputForm" #userAlias="ngModel" [(ngModel)]="user.user_alias" required>
						<small class="invalid-feedback d-block" *ngIf="!userAlias.valid && userAlias.touched">
							El alias del usuario no es valido
						</small>
					</div>
					<div class="form-group">
						<label for="personType" class="labelForm">Tipo de Usuario</label>
						<select name="personType" class="form-control inputForm" #personType="ngModel" [(ngModel)]="user.user_type" required>
							<option value="1">Persona Natural</option>
							<option value="2">Empresa</option>
						</select>
						<small class="invalid-feedback d-block" *ngIf="!personType.valid && personType.touched">
							Debe elegir un tipo de usuario para poder continuar
						</small>
					</div>
					<div *ngIf="user && user.user_type && user.user_type != 0">
						<div class="form-group">
							<label for="name" class="labelForm">Nombre*</label>
							<input type="text" name="name" class="form-control inputForm" #name="ngModel" [(ngModel)]="user.name" required pattern="[a-zA-Z ]+">
							<small class="invalid-feedback d-block" *ngIf="!name.valid && name.touched">
								El nombre no es valido
							</small>
						</div>
						<div class="form-group" *ngIf="user.user_type == '1'">
							<label for="surname" class="labelForm">Apellidos*</label>
							<input type="text" name="surname" class="form-control inputForm" #surname="ngModel" [(ngModel)]="user.surname" required pattern="[a-zA-Z ]+">
							<small class="invalid-feedback d-block" *ngIf="!surname.valid && surname.touched">
								Los apellidos son invalidos
							</small>
						</div>
						<div class="form-group">
							<label for="password" class="labelForm">Password*</label>
							<input type="password" name="password" class="form-control inputForm" #password="ngModel" [(ngModel)]="user.password" required>
							<small class="invalid-feedback d-block" *ngIf="!password.valid && password.touched">
								La contraseña no es valida
							</small>
						</div>
						<div class="form-group">
							<label for="passwordConfirm" class="labelForm">Confirmar la Password*</label>
							<input type="password" name="passwordConfirm" class="form-control inputForm" #passwordConfirm="ngModel" [(ngModel)]="passwordConfirmation" required>
							<small class="invalid-feedback d-block" *ngIf="!passwordConfirm.valid && passwordConfirm.touched">
								La contraseña no es valida
							</small>
							<small class="invalid-feedback d-block" *ngIf="password.valid && passwordConfirm.valid && user.password != passwordConfirmation">
								Las contraseñas no coinciden
							</small>
						</div>
						<div class="form-group">
							<label for="userRole" class="labelForm">Role de Usuario*</label>
							<select type="text" name="userRole" class="form-control inputForm" #userRole="ngModel" [(ngModel)]="user.role" required>
								<option value="ROLE_USER">Usuario</option>
								<option value="ROLE_ADMIN">Administrador</option>
								<option value="ROLE_SUPER_ADMIN">Super Administrador</option>
							</select>
							<small class="invalid-feedback d-block" *ngIf="!userRole.valid && userRole.touched">
								El role no es valido
							</small>
						</div>
										
						<div class="buttonSubmit mt-4">
							<input type="submit" value="Guardar" class="btn btn-success" [disabled]="userRegisterForm.invalid || user.password != passwordConfirmation">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>